html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}

.card-spacing {
  padding-left: 10px;
  padding-right: 10px;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: 7%;
  color: white
}

.older-arrow-mobile {
  color: white;
  display: inline-block;
  margin-bottom: 0px;
  bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
}

.newer-arrow-mobile {
  color: white;
  display: inline-block;
  margin-bottom: 0px;
  bottom: 0px;
  padding-bottom: 0px;
  margin-right: 20px;
}

.navigation-text {
  display: inline-block;
  margin-bottom: 0px;
  bottom: 0px;
  padding-top: 0px;
  margin-top: -20px;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prev-arrow {
  position: absolute;
  top: 50%;
  left: 7%;
  color: white
}

.next-text {
  position: absolute;
  top: 52%;
  right: 7%;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prev-text {
  position: absolute;
  top: 52%;
  left: 7%;
  color: white;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-shadow {
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  color: rgb(252, 252, 252) !important;
}

.card-row {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.component.first-component {
  background: url("/img/jonatan-pie-234237-unsplash.jpg") no-repeat 0 0; 
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  text-align: center;
  overflow-wrap: break-word;

}

.component.second-component {
  background: url("/img/4.jpg") no-repeat 0 0;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
}

.component.third-component {
  background-color: rgb(1, 0, 41);
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
}

.component.second-component h2 {
  color: white;
  font-size: 30px;
}

.component.second-component h1 {
  font-size: 40px;
}

.component.second-component h3 {
  color: white;
  font-size: 25px
}

.Menu {
  margin: 0;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.typer {
  color: white;
  margin: 0;
  vertical-align: center;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.typer-title {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  vertical-align: center;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

/*.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}*/

p {
  color: blue;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}